.quiz-creator {
  text-align: center;
  margin: 3em 5em;
  padding: 50px;
  background-color: #f0f0f0;
  border: 2px black solid;
}

.quiz-creator label {
  margin-bottom: 20px;
  display: block;
  margin-bottom: 5px;
}

#quiz_title,
#quiz_description {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  height: 120px;
}

.question {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  border-radius: 4px;
}

.question h3 {
  font-size: 1.2em;
}

.question_input {
  padding: 15px 100px;
  margin-bottom: 10px;
  text-align: center;
}

.answer {
  padding: 10px 15px;
  margin: 10px;
  text-align: center;
}

.quiz-creator button {
  padding: 10px 20px;
  background-color: #333;
  color: #fff;
  border: none;
  cursor: pointer;
  margin: 1em;
}

.quiz-creator button:hover {
  background-color: #555;
}
